body { font-family: "Courier New", Georgia, Serif; }

table {
    /* border: 1px solid #ccc; */
    width: 90%;
}

table > thead tr > th { border-bottom: 4px solid darkslategray; padding: 10px; text-align: left; }
table > tbody tr > td { padding: 15px 10px; }

span.status {
    font-family: "Courier New", Georgia, Serif;
    font-style: italic;
    font-size: 0.65em;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #eee;
}